.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: #000000;
    margin-right: 93px;
  }
  .logo__footer {
    margin-right: 0;
    color: #ffffff;
  }
  
  .logo-cl {
    color: var(--akcent-cl);
  }