.menu-btn {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 400ms;
  z-index: 100;
  &.is-open {
    transform: translateX(0);
  }
  padding: 48px 40px;

  display: flex;
  flex-direction: column;
}
.mobile-menu {
  margin-bottom: auto;
  font-size: 40px;
  line-height: calc(46.88 / 40);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.social-menu {
  display: flex;
  color: var(--akcent-cl);

  font-size: 18px;
  line-height: calc(22 / 18);
  font-weight: 500;
}
.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover,
  &:focus {
    fill: var(--akcent-cl);
  }
}
.contact-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}
.contact__tel {
  font-size: 34px;
  line-height: calc(39.84 / 34);
  font-weight: 500;
  color: var(--akcent-cl);
}
.contact__mail {
  font-size: 24px;
  line-height: calc(28.13 / 24);
  font-weight: 500;
  color: #757575;
}
.line::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
  color: rgba(33, 33, 33, 0.2);
}