body {
  font-family: var(--main-font);
  background-color: var(--main-background-cl);
  color: var(--main-text-cl);
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
}
.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;

    padding-top: 0;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;

  max-width: 450px;
  

  @media screen and (min-width: 768px) {
    max-width: 738px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 15px;
    padding: 0 15px;
  }
}
.nav__media-link {
  /*animation*/
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--akcent-cl);
  }
}
.nav__media-contact {
  /*animation*/
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--akcent-cl);
    color: var(--akcent-cl);
  }
}
.section-btn {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  position: relative;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet-bg.png);
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg.png);
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 94px;
    
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 26px;
  }

  @media screen and (min-width: 768px) {
    line-height: calc(60 / 44);
    font-size: 44px;
  }
}

// .description {

//   }

.description__list {

 
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}

.description__item {
  max-width: 450px;
  margin-bottom: 30px;
  
  &.description__item:last-child{
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    margin-bottom: 0;
    
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
    
  }
}
.description__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.description__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
  margin-bottom: 0;
}

.description__pic {
  background-color: #f5f4fa;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about {
  display: none;

  @media screen and(min-width:1200px) {
    display: block;
    
  }
}
.about__list {
  display: flex;
  justify-content: space-between;
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: calc(42 / 36);
  @media screen and(min-width:768px) {
  }
  @media screen and(min-width:1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.about-thumb {
  position: relative;
}
.about__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 27px 107px;
}
.about__label-text {
  color: var(--main-background-cl);
  font-size: 14px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  text-align: center;
}
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-background-cl);
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-list {
 
  
  @media screen and(min-width:768px) {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  @media screen and(min-width:1200px) {
    justify-content: space-between;
    
  }
}

.team-list-item {
  background-color: var(--main-background-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  
  &.team-list-item:last-child{
    margin-bottom: 0;
  }
    @media screen and(min-width:768px) {
      margin-bottom: 0;
    }
    
    @media screen and(min-width:1200px) {
      margin-bottom: 0;
      
    }
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.profession {
  margin-top: 0;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: #757575;
  text-align: center;
}
.list-social-item {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-left: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--main-background-cl);
  border-radius: 50%;
  color: var(--background-cl-icon);
  /*animation*/
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-background-cl);
    background-color: var(--akcent-cl);
  }
}
.social-icon {
  fill: currentColor;
}
.profession:last-child {
  margin-bottom: 0;
}
.client-section {
  padding-top: 94px;
}
.clients-list {
  gap: 30px;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-wrap: wrap;

  @media screen and(min-width:768px) {
    display: flex;
  }
}
.clients-item {
  display: block;
}

.clients-link {
  width: 210px;
  height: 92px;
  border: 1px solid var(--background-cl-icon);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-cl-icon);
  /*animation*/
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:768px) {
    width: 226px;
  }

  @media screen and(min-width:1200px) {
    width: 170px;
  }

  &:hover,
  &k:focus {
    color: var(--akcent-cl);
    border-color: var(--akcent-cl);
  }
}
.clients {
  fill: currentColor;
}

.porfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.porfolio-container {
  list-style: none;
  display: flex;
  gap: 8px;

  margin: 0 138px 40px 0;
  padding-left: 0;
  flex-wrap: wrap;

  @media screen and(min-width:768px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
  @media screen and(min-width:768px) {
    margin: 0 0 50px 0;
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.porfolio-link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  /*animation*/
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:hover .overlay,
  &:focus .overlay {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 6px 4px 1px;
    transform: translateY(0);
  }
}
.portfolio-list-img-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  /*animation*/
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-desc {
  color: var(--main-background-cl);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.portfolio-info {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-tittle {
  color: var(--main-text-cl);
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.portfolio-name {
  margin: 0;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #757575;
}
