/*Vars*/

:root {
    /* front*/
    --main-font: Roboto, sans-serif, raleway;
    /* text color */
    --main-text-cl: #212121;
    --akcent-cl: #2196f3;
    --text-modal-cl:#757575;
  
    /* background color*/
    --main-background-cl: #ffffff;
    --background-cl-icon:#AFB1B8;
    --footer-cl:#2f303a;
    --team-background-cl:#F5F4FA;
  
    /*other*/
    --items: 3;
    --indent: 30px;
    --border: 1px;
  }